$bronze-spice: #d55f19ff;
$sky-blue: #7bcdfcff;
$palm-leaf: #86875aff;
$charcoal: #4e4f51ff;
$sandy-brown: #f69853ff;
$dark-walnut: #522910ff;

$color-scheme: color_jan26;
$body-background-color: $charcoal;
$body-heading-color: $palm-leaf;
$body-text-color: $bronze-spice;
$link-color: lighten($bronze-spice, 10%);
$nav-child-link-color: $grey-dk-000;
$sidebar-color: $sandy-brown;
$base-button-color: $grey-dk-250;
$btn-primary-color: $palm-leaf;
$code-background-color: #0d1117; // github-dark bg color
$code-linenumber-color: #e6edf3; // github-dark line number color
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $grey-dk-250;
$search-background-color: $charcoal;
$search-result-preview-color: $grey-lt-300;
$border-color: $grey-dk-200;
